<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="Sakebe" value="D:\Game\osu!\Songs\550344 Manami Numakura - Sakebe\Manami Numakura - Sakebe (VINXIS).osb" />
    </appSettings>
</configuration>